.grid{
    display: grid;
    grid-auto-rows: 250px;
    gap: 30px;
    margin: 6%;
}


.grid_item:first-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}


.grid_item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}


.grid_item:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


.grid_item:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}


.grid_item{
    position: relative;
    transition: .4s;
}


.grid_item>img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


.grid_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: rgb(3, 3, 85);
}


.grid_text span{
    width: 50px;
    height: 5px;
    border-radius: 30%;
    background-color: rgb(250, 47, 162);
    margin-top: 10px;
    transition: .3s;
}


.gr_categ{
    display: flex;
    align-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
    text-decoration: solid rgb(42, 40, 40);
    transition: .3s;
}



.grid_item:hover .gr_line{
    width: 200px;
    background-color: aqua;
}


.gr_line{
    display: block;
    text-align: center;
    transform: translateX(-45%);
    transform: translateY(-45%);
}



@media(max-width:1471px){
    .grid_item:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .grid_item:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .grid_item:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end:4;
    }
    .grid_item:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}


@media(max-width:810px){
    .grid_item:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .grid_item:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end:5;
    }    
    .grid_item:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end:7; 
    }   
    .grid_item:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}







